@charset "UTF-8";
body,
html {
  height: 100%;
}

.parallax {
  /* Pleine hauteur */
  height: 100%;
  /* Crée l'effet de parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Centre les éléments enfants */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parallax-top {
  background-image: url("../img/business-2717063_1920.jpg");
}

.parallax-top i {
  margin-top: 5%;
}

.parallax-middle-top {
  background-color: #dffafa;
}

.parallax-down {
  background-image: url("../img/cup-of-coffee-1280537_1920.jpg");
}

.parallax-down i {
  margin-top: 10%;
}

.background-span {
  background-color: rgba(43, 43, 43, 0.664);
}

.title-profile {
  font-size: 3em;
}

.border-black {
  border: 4px solid #3a3939;
}

@media all and (min-width: 577px) and (max-width: 767px) {
  .parallax {
    height: 850px;
  }

  .img-profile {
    width: 50%;
    height: auto;
  }
}
@media all and (max-width: 576px) {
  .parallax h1 {
    font-size: 3em;
  }

  .img-profile {
    width: 30%;
    height: auto;
  }

  .h3-badged {
    font-size: 1.5em;
  }

  .h2-badged {
    font-size: 1.7em;
  }

  .parallax {
    height: 850px;
  }
}
@media all and (max-width: 767px) {
  .display-none-sm {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
