$full-height: 100%;
$fixed: fixed;
$center: center;
$no-repeat: no-repeat;
$cover: cover;
$flex: flex;
$column: column;
$background-color-text-parallax: rgba(43, 43, 43, 0.664);
$color-border: rgb(58, 57, 57);
$color-parallax-middle-top: rgb(223, 250, 250) ;